header {
    text-align: right;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 137, 134);
    padding: 45px;
    background-color: rgb(248, 244, 211);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    }
  .container {
    position: relative;
      }
  
  #image {
    position: relative;
    
  }
  
  #texto1 {
    position: absolute;
    padding-left: 500px;
    text-align: center;
    font-size: 150px;
    font-family: fam;
    top: 150px;
    color: rgb(139, 137, 134); 
  }
  
.bemvindo {
    position:relative;
    background-color:rgb(252, 210, 74);
    padding-bottom: 5px;
    padding-top: 1px;
    
      
  #aviso { 
    color: rgb(250, 250, 91);
    text-align: center;
    font-size: 30px;
    font-family: fam;
    
    
    }
} 
.principal {
    width: 60%;
    margin: 2rem auto;
} 
.galeria {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2);
    gap: 0.5rem; ;
    
}
.imggaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imggaleria {
    overflow: hidden;
}
.omeninodopijamalistrado {
   grid-column: 1 / span 4 ;
   grid-row: 1 / span 4; 
}
.omenino {
  font-size: 12px;
  font-family: fam;
  grid-column: 2 / span 4 ;
   grid-row: 5 
}
#resenha1{
  background-color:rgb(252, 210, 74);
  color: rgb(158, 158, 157);
  text-align: center;
  font-size: 15px;
  font-family: fam;
  border-top: 10px;
  grid-column: 2 / span 2 ;
  grid-row: 6  
}
.amulherdepreto {
    grid-column: 1 / span 4 ;
    grid-row: 7 / span 4; 
 }
 .amulher {
  font-size: 12px;
  font-family: fam;
  grid-column: 2 / span 4 ;
   grid-row: 11 
}
#resenha2{
  background-color:rgb(252, 210, 74);
  color: rgb(158, 158, 157);
  text-align: center;
  font-size: 15px;
  font-family: fam;
  border-top: 10px;
  grid-column: 2 / span 2 ;
  grid-row: 12  
}
 .batidasperdidasdocoracao {
    grid-column: 5 / span 6 ;
    grid-row: 1 / span 10; 
 }
 .asbatidas {
  font-size: 12px;
  font-family: fam;
  grid-column: 7 / span 6 ;
   grid-row: 11 
}
#resenha3{
  background-color:rgb(252, 210, 74);
  color: rgb(158, 158, 157);
  text-align: center;
  font-size: 15px;
  font-family: fam;
  border-top: 10px;
  grid-column: 7 / span 2 ;
  grid-row: 12  
}

 .lembrete {
    position:relative;
    background-color:rgb(252, 210, 74);
    padding-bottom: 5px;
    padding-top: 1px;
 } 
      
  #midiassociais { 
    color: rgb(158, 158, 157);
    text-align: center;
    font-size: 20px;
    font-family: fam;
    border-top: 10px;
    
    }

.atalhos {
      width: 60%;
      margin: 2rem auto;
  } 
  .redessociais {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2);
      
      
  }
  .iimgredessociais {
      width: 10%;
      height: 10%;
      object-fit: cover;
  }
  .iimgredessociais {
      overflow: hidden;
  }
  .facebook {
     grid-column: 4 ;
     grid-row: 1 / span 1; 
  }
  .instagram {
      grid-column: 5;
      grid-row: 1 / span 1; 
   }
 
footer {
  
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 137, 134);
    padding: 45px;
}